nav ul li {
  list-style: none;
  /* list-style-image: url(); we can aslo give the img for an  List */
  /* list-style-type: lower-roman; */
  /* list-style-position: inside; */
  padding: 10px;
}

nav {
  width: 100vw;
  justify-content: center;
  height: 20vh;
  margin: 13px auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: moccasin;
  border: 2px solid black;
}
