* {
    margin: 0;
    padding: 0;
  }
  .box {
    border: 3px solid brown;
    display: inline-block; /* if we applay inline than p: and m: will be apply on 3 side not on the top of the side */
    padding: 55px;
    margin: 35px;
    box-sizing: border-box;
  }
  .box1 {
    /* display: none; */
    visibility:hidden;
  }