* {
  margin: 0;
  padding: 0;
}

.box {
  height: 433px;
  width: 80vw;
  padding: 3px;
  margin: 3px;
  border: 2px solid black;
}

.box1 {
  background-color: aqua;

  /* position: sticky;
  top: 0px;
  height: 111px;
  width: 100%;
  margin: 3px;
  padding: 3px; */
  position: absolute;
  top: 5px;
  left: 5px;
}

.box2 {
  background-color: azure;
  position: relative;
  bottom: 34px;
  left: 65px;
}

.box3 {
  background-color: antiquewhite;
  position: fixed;
  bottom: 0px;
  left: 700px;
  height: 111px;
  width: 500px;
}

.box4 {
  background-color: purple;
}

.parent {
  padding: 43px;
  margin: 34px;
  border: 3px solid purple;
  position: relative;

  /* Exception: transform, filter, or perspective properties can also make an element appear as positioned */
  /* transform: translate(0); */
  /* filter: invert(0); */
  /* perspective: 0em; */
}
