* {
    margin: 0;
    padding: 0;
  }

  .box {
    border: 2px dotted blue;
    background-color: tan;
    box-sizing: border-box;
    /* width: 1920px; */
    width: 80vw;
    height: 20vh;
    margin: 23px auto;
    /* height: 22px; */
  }
  .box1 {
    border: 2px dashed black;
    background-color: tan;
    box-sizing: border-box;
    width: 50vw;
    /* used for width */
    height: 50vh;
    /* used for hight */
    margin: 56px auto;
  }

  div.box1 p:first-child {
    color: maroon;
    font-size: 1em;
    background-color: chartreuse;
  }
  div.box1 > p {
    background-color: blueviolet;
    color: rgb(101, 117, 0);
    font-size: 2em;
  }

  html {
    font-style: italic;
    font-weight:500;
    font-size: 15px;
  }