/* Element Selector  */
div {
  /* background-color: red; */
}

/* Class Selector  */
.red {
  background-color: red;
}

/* Id Selector */
#green {
  background-color: green;
}

/* Child Selectors  */
div > p {
  color: blue;
  background-color: brown;
}

/* Descendant Selector  */
div p {
  color: blue;
  background-color: brown;
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

/* Pseudo Selector  */
a:visited {
  color: yellow;
}

a:link {
  color: green;
}

a:active {
  background-color: red;
}

a:hover {
  background-color: yellow;
}

p:first-child {
  background-color: aqua;
}
